* {
  box-sizing: border-box;
  list-style: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: gray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.painting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-basis: 15%;
  padding: 10px 0;
  background: white;
}

.painting-header > * {
  border-right: 1px solid hsla(0, 0%, 0%, 0.2);
  padding: 0 10px;
  text-align: center;
}

.color-options {
  width: 20%;
  min-width: 140px;
}

.color-options h2 {
  font-size: 0.8rem;
  padding: 2px;
}

#colors {
  display: flex;
  flex-wrap: wrap;
  max-height: 65px;
}

.color {
  background: red;
  border: 1px solid black;
  width: 23px;
  height: 23px;
  margin: 3px;
  border-radius: 2px;
}

.color.selected {
  transition: 0.3s cubic-bezier(0, 1.47, 0.92, 1.09);
  transform: scale(1.1) translateY(-8%);
  box-shadow: 0 2px 0 1px rgb(207, 207, 207);
}

.painting {
  width: 100%;
  flex-basis: 80%;
  background: hsl(0, 0%, 86%);
}

#display {
  width: 100%;
  height: 100%;
}

.painting-footer {
  display: flex;
  align-items: center;
  background: white;
  padding: 0 10px;
  width: 100%;
  flex-basis: 5%;
}

#cursor-coordinates {
  font-size: 0.8rem;
}
